[2017-09-26 19:01] mcrundo opened #7 "Jade has been renamed to pug"
Great guide, just a little nitpick.

https://pugjs.org

[2017-09-26 19:03] yangshun commented on #7
Are you referring to the front end interview questions?

[2017-09-26 19:54] mcrundo commented on #7
Yeah

[2017-09-27 00:45] #7 closed

[2017-09-29 06:16] Rajesh-Royal opened #11 "Are you working at facebook as a front end engineer."
If I want to enroll in facebook internship programme as front end developer does i need to expert at algorithms.

[2017-09-29 06:20] #11 closed

[2017-09-29 06:29] yangshun commented on #11
This is not an issue related to the repository, so I'm closing this out.

Yes, I'll be starting work at Facebook in November as a Front End Engineer. The term expert is quite subjective. I can't really speak about the process at Facebook as I have not officially started working there yet, but all engineering roles at tech companies expect certain level of competency in algorithms. I wouldn't say y

[2017-09-29 10:21] Rajesh-Royal commented on #11
Thanks for your reply. and sorry for spamming your repository.

On Fri, Sep 29, 2017 at 11:59 AM, Yangshun Tay <notifications@github.com>
wrote:

[2017-10-02 10:42] perbellinioa opened #19 "Algorithms string: "redblueredblue""
Great guide!
I think I might have found an error there: [string.md](https://github.com/yangshun/tech-interview-handbook/blob/master/algorithms/string.md)
`E.g. "abba" and "redblueredblue" should return true`
It should either be: "return false" or "redbluebluered" according to the given pattern.

[2017-10-02 13:04] yangshun commented on #19
Closed by #20

[2017-10-02 13:04] #19 closed

[2017-10-03 04:18] hkasera opened #25 "Adding a list of practice sites"
Hello,

This repository is great! Thanks for sharing this. I had created a github repo that lists all the various websites where people can practice algorithmic questions typically asked in interviews. It was initially for myself and then I decided to open-source it. I would like to add a reference to this repository here so, it could be helpful to the community as well. I feel it is aptly suited

[2017-10-03 04:39] yangshun commented on #25
Thanks @hkasera ! One of the goals of this repository is to curate (instead of just displaying a list of links), which would make it no different from a Google search, so we are not that keen on just adding links. However, there could be some gems that we might have missed out so I'm keen to have a look at your list. Would you mind leaving a link to the repo so that we can have a look first?

Btw

[2017-10-03 04:46] hkasera commented on #25
Thanks @yangshun for acknowledging this.

Yes, what you say makes total sense. Sorry, I missed the link. [Here](https://github.com/hkasera/practice-coding) is the link to my repository.
Currently this contains the list of popular practice websites. However, I am also planning to improve this list by adding some more content like whether it's free or paid and topics covered.

I would love to hear y

[2017-10-03 04:55] yangshun commented on #25
Thanks for the link. In its current state, I'm afraid I'm not too keen to include the list because it will likely bombard the readers with more information than necessary when they already have a lot of knowledge to absorb. Personally I only used LeetCode for interview practice and IMO it is the more than sufficient.

I would be glad to add a reference to your repository after you have added more

[2017-10-03 04:55] #25 closed

[2017-10-03 07:18] yangshun opened #26 "Add a "What is being measured" section into the "Preparation" page"
Elynn Lee has written great content about it [here](https://www.quora.com/Why-do-I-do-poorly-in-interviews-although-I-am-strong-technically/answer/Elynn-Lee). Unfortunately it is not for reproduction and some rephrasing + more research will have to be done.

[2017-10-03 19:09] yangshun opened #29 "Add "Resume Tips" section"
Christina has kindly agreed to let us replicate the content of her whole [post ](https://christinang89.quora.com/10-tips-to-get-past-resume-screening-for-College-Students-Grads).

[2017-10-05 05:24] Klestofer opened #32 "Typo in HTML Interview Questions"
[Here](https://github.com/yangshun/tech-interview-handbook/blob/master/front-end/interview-questions.md#why-is-it-generally-a-good-idea-to-position-css-links-between-headhead-and-js-scripts-just-before-body-do-you-know-any-exceptions) it probably should be `Placing <script>s just before </body>`.

[2017-10-05 05:27] yangshun commented on #32
Thanks for catching! Would you like to make a PR to fix it?

Btw there's [Hacktoberfest](https://hacktoberfest.digitalocean.com/) going on now and submitting PRs to this repo is a great way to earn the t-shirt 😎

[2017-10-05 05:40] Klestofer commented on #32
No.

[2017-10-05 05:44] yangshun commented on #32
Fixed by 621472e

[2017-10-05 05:44] #32 closed

[2017-10-05 06:01] Klestofer commented on #32
One more typo: Placing <script**s**>s

[2017-10-05 06:08] #29 closed

[2017-10-09 17:31] dhruvmalik007 commented on #26
Well  the section "What is being measured"   Must be replaced with Evaluation Parameters , that is more trendy #add Evaluation parameters

[2017-10-10 16:32] viswanadha-kondoju-ck opened #40 "mergeSort method doesn't handle null case"
mergeSort method doesn't handle null case, it should handle the case where arr is null

[2017-10-10 16:36] yangshun commented on #40
The sorting methods expect an input array. The focus is on the algorithm and not the handling of edge cases.  If all algorithms had to handle invalid input case then it would be too much of a trouble to implement them.

For example, if you were to try passing in `None` to the `sorted()` method in Python, you get the following.

[code]

We can (and should) assume valid input for algorithm functions

[2017-10-10 16:36] #40 closed

[2017-10-10 16:50] viswanadha-kondoju-ck commented on #40
thanks for answering my question, i hope you don't mind me asking such questions

[2017-10-10 17:31] yangshun commented on #40
Not at all 😄

[2017-10-14 08:17] kosmotaur opened #44 "Gender inclusive?"
You speak about shirt and tie. Now of course there's nothing stopping a woman from wearing that, but wouldn't you agree that this makes it sound like you're only addressing a male audience?

[2017-10-14 08:20] yangshun commented on #44
That's a very good point and definitely not my intention to only address a male audience. My bad. Do you have suggestions on the wording?

[2017-10-14 08:25] kosmotaur commented on #44
How about:

[2017-10-14 08:26] yangshun commented on #44
Thanks! Have incorporated your suggestion. Fixed by #91f799a

[2017-10-14 08:26] #44 closed

[2017-10-14 08:27] kosmotaur commented on #44
Great, thanks!

[2017-10-14 10:48] darrenlittlejohn commented on #26
I can probably help with this. I'm a technical writer and am just entering into the job market so this guide something I'm passionate about.

[2017-10-16 09:29] MissSheyni opened #48 "TSF"
من میخواهم عضو تیم پشتیبانی شوم لطفا راهنمایی کنیدمن را

[2017-10-16 13:13] yangshun commented on #48
Thanks but we're fine on our own (:

[2017-10-16 13:13] #48 closed

[2017-10-16 13:13] yangshun commented on #26
Hey @darrenlittlejohn thanks but I'm halfway through it. Appreciate the thought!

[2017-10-17 18:04] seanhagen opened #55 "Resources for folks on the other side of the table?"
This is an awesome resource for people looking to polish their skills for when they go into interviews.

Are there any plans to add some resources for the interviewers? IE, the brand new tech lead who needs to hire a junior but has no idea what kinds of questions to ask, or the manager who doesn't know a ton but needs to find just the right dev for their open position.

[2017-10-18 04:55] yangshun commented on #55
Oh yes that's in the works. To be fair, there's more demand for resources for interviewees rather than interviewers, so that'll be the focus for now. But it's something we're definitely keeping in mind 😎

[2017-10-18 17:01] seanhagen commented on #55
Awesome!

I totally understand that there are more folks looking for help being interviewees, rather than interviewers, but knowing it's on the roadmap is great :smile:

[2017-10-22 10:38] Keenet1598 commented on #48
Listen I need help

[2017-11-07 04:49] code-spring opened #84 "How to improve the API quality for this project? Maybe need an automated testing tool such as WisdomTool REST Client or postman?"
[WisdomTool REST Client ](https://github.com/wisdomtool/rest-client)supports automated testing RESTful API and automatically generating RESTful API documentation.

Maybe this tool can enhance handbook quality.  Not sure, just guess.

[2017-11-07 04:50] #84 closed

[2017-11-21 01:02] 211217613 opened #90 "Convert to PDF"
Any plans on being able to clone the repo and building a PDF out of it?

[2017-11-24 04:25] yangshun commented on #90
Possibly in the future, but in the current state it's not really ready to be "publishable" and I don't foresee myself having time in the near future to get it to that state.

[2017-12-08 05:35] prashanth1509 opened #93 "Better explanation for Snake game"
Hey Yangshun,
Thanks for the great list of guides!

I found the explanation for Snake game bit difficult to follow and I came across this interesting and better explanantion here https://www.youtube.com/watch?v=AaGK-fj-BAM

[2018-09-30 01:53] richardxu100 opened #105 "Possible error in tree section"
Thanks for this really helpful guide! In your tree section, it says that "When you are asked to traverse a tree by level, use depth first search." In this case, should it be Breadth First Search? I remember doing a Level-Order traversal problem on LeetCode, and to solve it I used BFS with a queue. I think I may be misreading your statement too.

[2018-09-30 05:30] louietyj commented on #105
Good catch. The sentence should say "breadth first search" instead. Thanks!

[2018-09-30 05:36] #105 closed

[2018-10-31 09:50] abhishekakade opened #113 "Found 2 typos."
1. Found a typo in tech-interview-handbook/blob/master/preparing/README.md on line 70.
Typo - oppurtunities.

2. Found a typo in tech-interview-handbook/blob/master/interviewers/basics.md on line 19.
Typo - psuedocode.

[2019-02-11 18:57] terra9 commented on #113
close this issue

[2019-02-11 19:20] #113 closed

[2019-03-14 18:17] Ashwin7mak opened #120 "Add Rotate image problem in "Matrix" section."
You are given an n x n 2D matrix representing an image. Rotate the image by 90 degrees (clockwise or anti-clockwise).

[2019-08-11 23:07] nishitmehta1 opened #124 "Checklist in place of Bullet Points"
I think using a checklist to display all the weekly problems would be more helpful. The user can mark the problems which he/she already knows.

[2019-08-11 23:35] yangshun commented on #124
I don't have the bandwidth to build a progress checklist feature into the website although it's possible to add it. Would you like to try? 😄

Anyhow, I think users can copy and paste the list to GitHub gists where checkboxes have been implemented.

[2019-08-11 23:43] nishitmehta1 commented on #124
I think just a frontend checklist would also suffice. If the tab is closed, the data is lost. May sound stupid, but most of them just keep the tab open.

[2019-08-12 00:01] yangshun commented on #124
Would require more work than just editing the markdown. I can render the checklist by using the markdown syntax but it won't be interactive.

[2019-08-20 16:33] marvindanig opened #132 "Convert to Superbook"
Really great resource, thanks for sharing!

A few of us like to read and remember better with codex style Superbook [1] format. I can convert and publish it for you using a script in a weekend if you want.

[1] https://bubblin.io/docs/format

[2019-08-20 16:54] yangshun commented on #132
Thanks for the thought @marvindanig! However, like you, I'm also a documentation/e-book framework maintainer and this repo's website is built using the [Docusaurus](https://github.com/facebook/docusaurus) framework I maintain with one of the goals being to dogfood my framework. The concept of superbook is cool and I might want to incorporate that into Docusaurus in future.

You're welcome to make

[2019-08-20 16:54] #132 closed

[2019-08-27 14:26] Abdujabbor opened #135 "Site is not available yangshun.github.io"
Few days ago site worked without problem, now it's not working:

https://yangshun.github.io/tech-interview-handbook/

could you pls solve this question?

[2019-08-27 14:35] yangshun commented on #135
This should be a GitHub issue. After a few refreshes it works fine.

[2019-09-05 01:55] bbbooo313 commented on #135
经过几次刷新后，它工作正常：[baoshijienews.com](baoshijienews.com)

[2019-09-05 01:57] bbbooo313 commented on #124
[baoshijienews.com](baoshijienews.com)  老哥换个友链吗？
联系QQ：1297532431

[2019-09-05 01:58] bbbooo313 commented on #55
[www.dafacaipw.com](www.dafacaipw.com)  老哥换个友链吗？
联系QQ：1297532431

[2019-09-13 19:49] #135 closed

[2019-09-21 21:27] Vibhu-Agarwal opened #143 "Typo in Cheatsheet"
In [the cheatsheet](https://github.com/yangshun/tech-interview-handbook/blob/master/contents/cheatsheet.md),

Under **Before Interview**:
Prepare answers to the frequently-asked **`behaioral`** questions in an interview.

[2019-09-21 22:53] #143 closed

[2019-09-24 03:18] xiasongh opened #145 "Combination Sum links to Combination Sum IV"
In the Best Practice Questions section under Week 5 – Dynamic Programming, Combination Sum linked to LeetCode Combination Sum IV. Is this intended? All other questions have the correct numbering (e.g. Word Search II).

[2019-11-03 13:36] UniFreak opened #148 "Any plan on providing other language version?"
I would be very pleased if I can contribute to this project by translating it into Chinese version.

[2019-12-02 13:27] maintheme-mili commented on #148
Chinese version +1

[2019-12-04 03:21] scps960740 commented on #148
Chinese version +9999

[2019-12-12 08:25] xoraus opened #149 "A messaging bot for tech-interview-handbook"
I have developed an AI Bot that can assist users in Interview Preparation by using the content from tech-interview-handbook by yangshun. I'm ready to send pull request if you're interested in this idea.

[2019-12-12 08:46] plaidshirtakos commented on #149
It sounds interesting! Waiting for it!

[2019-12-12 16:00] H-Richard commented on #149
Sounds incredible!

[2019-12-12 16:16] SebastianOpiyo commented on #149
I'd love to see that. Thanks!

[2019-12-12 21:48] yangshun commented on #149
Sounds exciting, how would that work? Could you elaborate on it? Any examples?

[2019-12-13 11:49] xoraus commented on #149
@yangshun I have already created a demo version, would you like to see it?

[2019-12-13 11:51] plaidshirtakos commented on #149
@xoraus : Yes, sure, we are all interested in it!

[2019-12-15 09:00] yangshun commented on #149
@xoraus Yes I would

[2019-12-31 11:41] yangshun commented on #149
@xoraus are we able to see it?

[2019-12-31 12:55] xoraus commented on #149
@yangshun sorry for the delay,  actually I got busy in my work. I will screen record the working application and share the video link here by the end of this week.

[2020-01-06 04:54] xoraus commented on #149
@yangshun A lot of work has to be done yet but here's the demo of how it will look like
 -> ``` https://youtu.be/TXOL2GA3q8A ```

[2020-01-06 07:05] Sam-Si commented on #149
@xoraus Looks pretty good :)

[2020-01-06 07:12] louietyj commented on #149
Hey @xoraus, just to confirm, this simply serves as a navigational tool that links into the content on the repo yeah?

Also where is the AI component of the chatbot? I don't see it in the demo, maybe I'm missing something.

[2020-01-06 07:27] xoraus commented on #149
@xoraus it's just a demo, it'll be like google's dialogflow where they make use of NLP.

[2020-01-12 21:46] ssaryazd opened #153 "I am new to java, can anyone help me debug my code?"
public class Ferry
{
	private Vehicle[] ferry;
	private int numVehicle;
	private int maxVehicle;
	private int maxAxel;
	private int maxPassenger;
	private double weightLimit;
	private double weight = 0;
	private int numAxel = 0;
	private int numPassenger = 0;

	public Ferry(int maxVehicle, int maxAxel, int maxPassenger, double weightLimit)
	{

		ferry = new Vehicle[maxVehicle];
		numVehicle = 0;

[2020-02-07 01:09] h4ytam commented on #153
as an error what did the console say?

[2020-02-07 01:32] yangshun commented on #153
This place is not meant to be a support forum. Please ask on Stack Overflow.

[2020-02-07 01:32] #153 closed

[2020-05-22 06:23] raivatshah opened #165 "Add solution to a leetcode problem."
Problem: https://leetcode.com/problems/sum-root-to-leaf-numbers/

Solution Explanation Blog Post: https://medium.com/leetcode-solutions/summing-root-to-leaf-numbers-in-a-binary-tree-353f33c8565e

Solution Explanation Text:
# Summing Root to Leaf Numbers in a Binary Tree

![leetcode1](https://user-images.githubusercontent.com/29497717/82636662-b01b4b80-9c35-11ea-9ffa-e84b1e13c599.jpeg)

Sum Root to

[2020-05-22 07:04] louietyj commented on #165
Hey @raivatshah, what is this supposed to be? Are you trying to contribute to the handbook? If so, please open a pull request rather than an issue. That said, as with the rest of the content in the handbook, it is probably unnecessary for such a verbose walkthrough of a relatively simple tree question.

It also seems like all the content here was pasted over from your linked medium post. Are you j

[2020-05-22 07:17] yangshun commented on #165
I ask him to create an issue and I'll make the PR. The website doesn't have
a blog now

On Fri, May 22, 2020, 3:04 PM Louie Tan <notifications@github.com> wrote:

[2020-05-22 08:12] louietyj commented on #165
Ah got it. Btw @raivatshah I just took a look at the solution writeup and I think there are some gaps.

1. The full solution doesn't seem to compile. For instance, `self.pre_order(root)` isn't defined anywhere.

2. The suggested solution is doing a string concatenation of the parent digits for each leaf node which makes the time complexity analysis not quite right. Consider a perfect binary tree w

[2020-05-28 13:45] raivatshah commented on #165
Hi @louietyj thanks so much for spotting the mistakes. I've corrected them and opened a PR here: https://github.com/yangshun/tech-interview-handbook/pull/166.

[2020-06-25 05:59] #145 closed

[2020-08-21 11:30] lawsonchuks opened #174 "Coding issues"

[2020-08-21 11:34] #174 closed, assigned to nobody

[2020-09-30 20:12] ravahora opened #178 "Tech interview"

[2020-10-01 01:31] #178 closed

[2020-10-04 04:19] GoGi2712 commented on #93
I wan to work on this issue.Please assign me.

[2020-10-04 08:46] #93 closed

[2020-11-06 04:12] abhijeet1403 opened #190 "[Doubt] Duplicate questions?"
In, URL: https://yangshun.github.io/tech-interview-handbook/algorithms/sorting-searching
File: tech-interview-handbook/contents/algorithms/sorting-searching.md

- Sort a list of numbers in which each number is at a distance K from its actual position.
- Sort a list where each element is no more than k positions away from its sorted position.

Are they the same questions?

[2020-11-06 04:15] abhijeet1403 commented on #190
I get it one is array and one is list. But it actually has the same solution (Using a heap)

[2021-01-06 13:53] shkmhd opened #192 "Alternative to Lago?"
Suggestion to replace the link to Lago (under Interview Process -> Coding round -> Study and practise) with [TheAlgorithms](https://github.com/TheAlgorithms)  as it contain data structures and algorithms implemented in many more languages (Java, Javascript, Python, C, C++ etc) compared to Lago which focuses only on js.
I can go ahead with a pull request for this if thats okay.

[2021-01-06 16:11] yangshun commented on #192
Sure go ahead

[2021-01-17 14:27] #192 closed

[2021-02-20 04:39] yangshun commented on #190
Yeah they're similar. Do you want to make a PR?

[2021-02-20 04:39] #165 closed

[2021-02-20 04:40] yangshun commented on #165
Closed via #166

[2021-04-08 19:34] shivambaghel opened #201 "Interview handbook"

[2021-04-09 01:47] yangshun commented on #201
👀

[2021-04-09 01:47] #201 closed

[2021-04-09 01:50] yangshun commented on #149
Closing due to inactivity. Feel free to reopen!

[2021-04-09 01:50] #149 closed

[2021-04-09 01:51] yangshun commented on #26
CLosing this as we have a [coding signals page](https://yangshun.github.io/tech-interview-handbook/coding-signals) now!

[2021-04-09 01:51] #26 closed

[2021-04-13 01:23] #190 closed

[2021-05-22 17:46] abhijeet1403 opened #208 "Duplicate Question"
https://github.com/yangshun/tech-interview-handbook/blob/master/contents/algorithms/sorting-searching.md

Sort a list of numbers in which each number is at a distance K from its actual position.

is same as

Sort a list where each element is no more than k positions away from its sorted position.

[2021-05-22 17:47] #208 closed

[2021-08-22 12:15] yangshun commented on #120
It has been added - https://techinterviewhandbook.org/algorithms/matrix/#recommended-leetcode-questions

[2021-08-22 12:15] #120 closed

[2021-08-22 12:16] yangshun commented on #55
Some brief resources here - https://techinterviewhandbook.org/interviewer-cheatsheet/

[2021-08-22 12:16] #55 closed

[2021-08-22 12:44] yangshun commented on #124
This is better as a LeetCode list. I've created it here - https://leetcode.com/list/xi4ci4ig/

[2021-08-22 12:44] #124 closed

[2021-09-03 09:09] yangshun opened #221 "Future Content Roadmap"
I have plans to add more content to the handbook which would be useful to job seekers. Off the top of my head, I have the following ideas in mind:

- Engineering Levels - Determining the engineering level you should be at and making sure you're getting a fair offer
  - Resources: [Dropbox Levels](https://dropbox.github.io/dbx-career-framework/ic1_software_engineer.html), [Wise](https://www.wise.jo

[2021-09-03 10:05] yangshun opened #222 "[future content] Engineering Levels"
This is an issue to start collecting ideas on a page on engineering levels.

## Goal

Help candidates know what is expected of levels at various companies to better determine the engineering level they should be at and making sure they're getting a fair offer

## Resources

- [Dropbox Levels](https://dropbox.github.io/dbx-career-framework/ic1_software_engineer.html)
- [Wise](https://www.wise.jobs/

[2021-09-03 10:07] yangshun opened #223 "[future content] Team Selection"
This is an issue to start collecting ideas on a page on team selection.

## Goal

Help candidates to evaluate teams in their new company and what factors they need to take into account.

## Resources

TODO

[2021-09-11 06:00] renjieQ opened #224 "Resume case study template"
Hi Yangshun,
I'd like to download template file in this [https://techinterviewhandbook.org/resume-case-study/](https://techinterviewhandbook.org/resume-case-study/). Could you please help?
![image](https://user-images.githubusercontent.com/53574350/132938012-0c457108-db22-443e-aa95-5ea50f66c3cb.png)

[2021-09-11 14:34] yangshun commented on #224
@teikjun would you be kind enough to assist?

[2021-09-12 09:06] teikjun commented on #224
Hi @renjieQ, here's a Google Doc template of the resume:
https://docs.google.com/document/d/1RmwywpUbd6sRzszfH5OkdLr3_v40cyZrQQcxN4X--4c/edit?usp=sharing

To get started, you can either make a copy of it on Google Docs or download it in your desired format:

<img width=200 src="https://user-images.githubusercontent.com/46853051/132981402-2ac9eebc-c6b9-4749-aedc-4a7a93e98574.png" />

Hope this help

[2021-09-12 13:54] renjieQ commented on #224
Thanks for sharing @teikjun

[2021-09-12 13:54] #224 closed

[2021-09-20 10:47] celiogafesi commented on #148
I'd be willing to translate into Portuguese, I think there would be a lot of interest from Brazil specially!

[2021-09-20 17:25] WeeHong opened #228 "Broken Link"
Hello,

I found a broken link [here](https://techinterviewhandbook.org/coding-signals/).

The [Facebook's Onsite Interview Guide](https://scontent.xx.fbcdn.net/v/t39.2365-6/75448664_529293754518370_5563533277542744064_n.pdf?_nc_cat=108&ccb=1-5&_nc_sid=ad8a9d&_nc_ohc=wLjmSQfO3zQAX_fyaQ7&_nc_ht=scontent.xx&_nc_rmd=260&oh=577831ef9fb665716a3651b82f7041bc&oe=613A5FE8) is not working.

![B6479585-2102-

[2021-09-20 18:07] yangshun commented on #228
Thanks, I shouldn't have used a CDN link which expires after a while. Have updated it in a7aabc8

[2021-09-20 18:07] #228 closed

[2021-10-03 18:56] shrutigrover25 commented on #222
/assign

[2021-10-05 08:42] SidBthegr8 opened #234 "Fixing Link on website"
On the tech interview handbook website, under the algorithms>Dynamic Programming>Recommended Leetcode questions, the 0/1 Knapsack Problem does not link to a page. Request to assign this issue to me so I can fix it.

[2021-10-05 09:47] yangshun commented on #234
Don't need an issue, you can just fix it.

[2021-10-05 11:12] MohammedAdain opened #235 "Adding Arcesium(DE Shaw & Co.) to Interview Formats"
Would it be fine if I add Arcesium(DE Shaw & Co.) Interview Formats to [https://techinterviewhandbook.org/interview-formats/](url)? Shall I raise a PR for it?

[2021-10-05 15:02] abhirambj commented on #90
Does this means that the resourses need to be made as a pdf with good design but with the content provided??

[2021-10-05 16:28] yangshun commented on #235
Thanks for asking! Most of the readers are global and we need to balance the signal to noise ratio on the page, so we'll prioritize larger companies (ideally over 5000 employees).

[2021-10-05 16:30] MohammedAdain commented on #235
How about Oracle?

[2021-10-05 16:31] MohammedAdain commented on #235
Also can you please review [https://github.com/yangshun/tech-interview-handbook/pull/236](url)

[2021-10-05 16:34] yangshun commented on #235
Oracle is fine

[2021-10-05 17:35] MohammedAdain commented on #235
Thanks

[2021-10-05 17:35] #235 closed

[2021-10-05 18:37] thisabhijeet opened #238 "Kadane's algorithm implementation"
Can I contribute a .cpp file explaining kadane's algorithm implementation and required comments for the maximum contiguous subarray sum problem. I saw the maximum contiguous subarray sum problem on the site . So people can see it's solution on the repo.

[2021-10-05 18:48] yangshun commented on #238
Nope, Kadane algorithm is rare and there's not much value in adding that when there are implementations online easily searchable.

[2021-10-05 18:48] #238 closed

[2021-10-05 18:53] arpitghura commented on #234
if this issue resolved then please close this issue

[2021-10-05 18:56] arpitghura commented on #223
Can you please elaborate what to do if i can contribute to this, i will

[2021-10-05 19:06] thisabhijeet commented on #238
okay!

[2021-10-26 11:11] medic-code opened #241 "RSS Feed not working"
When accessing via the browser you get a

`Page Not Found`
`We could not find what you were looking for.`

Looks like a status 404 error.

Has RSS feeds been phased out on the website ?

https://techinterviewhandbook.org/blog/rss.xml
https://techinterviewhandbook.org/blog/atom.xml

Tried a couple of different RSS feed readers, as well as without success. Just thought I'd bring this to your attenti

[2021-10-31 16:06] jazcarate commented on #241
I was debugging this error, and found it is a problem with `docusaurus` itself. I just opened a PR on their repo: https://github.com/facebook/docusaurus/pull/5846

[2021-10-31 23:37] #234 closed

[2021-11-26 15:01] harishraja1217 opened #251 "[Broken Link] Under Reference section of "Algorithm -> Introduction Page""
Webpage : https://techinterviewhandbook.org/algorithms/introduction/#references

Under this section, the 3rd URL is broken : https://quip.com/q41AA3OmoZbC
Moreover, the URL redirects to https://quip.com/cVcAAAJJ9qq for me.

**Screenshot :**
![image](https://user-images.githubusercontent.com/49875660/143600034-21e47694-b221-4dca-bd25-1d2b556e282a.png)

This is my first issue in github, BTW.

[2021-11-27 02:08] yangshun commented on #251
Thanks, I'll remove it

[2022-01-05 10:58] #251 closed

[2022-01-17 00:17] yangshun opened #255 "Contribute your success stories/testimonials to be featured!"
Feel free to contribute success stories/testimonials to the website! If this repository has helped you with your job hunt and you would like to put in a good word for the repo and be featured on the front page of the website, please comment down below! If there are too many submissions, I'll create a separate page to include them.

If interested, please submit the following:

- Display Name
- URL

[2022-01-17 00:40] yangshun opened #256 "Add Twitter testimonials"
Add some Twitter testimonials/shoutouts like on the front page of https://turborepo.org

![image](https://user-images.githubusercontent.com/1315101/149684137-939e315d-4f9c-4192-9692-80881174e849.png)

- https://twitter.com/umaar/status/913425809108606976
- https://twitter.com/ravinwashere/status/1328381097277681665
- https://twitter.com/rwenderlich/status/1166336060533727232
- https://twitter.com/

[2022-01-18 01:21] yangshun commented on #256
Fixed via d3145ae7d1562a137ec1253e9893161385150520

[2022-01-18 01:21] #256 closed

[2022-01-25 06:33] Tony66567 opened #257 "I need"
file:///var/mobile/Library/SMS/Attachments/dc/12/2664D2DB-9B41-4D25-AFA2-445ECB8F22D0/takeout-20220125T041706Z-001.zip

[2022-01-25 07:08] #257 closed

[2022-02-12 06:41] rohandaxini opened #262 "Questions for interviewer and future company"
I have created this curated list of Questions one should consider asking the interviewer and future company.
https://github.com/rohandaxini/questions-to-interviewer

@yangshun Do you think this is worth adding to the handbook or anywhere?

[2022-02-12 15:31] yoojincha commented on #148
I would like to contribute in translating it to Korean:)

[2022-02-12 23:06] yangshun commented on #241
Seems fine now thanks for reporting!

[2022-02-12 23:06] #241 closed

[2022-02-26 18:13] j42huynh opened #264 "Add links to Design Gurus' courses?"
Instead of paying a subscription for "Grokking the System Design Interview by Educative", people can also pay for lifetime access for the same course from [Design Gurus](https://designgurus.org/courses) (along with others). This might be an option people want to consider when paying for a course.

[2022-02-27 06:50] yangshun commented on #264
Oh cool, I never knew about this separate website. I'll look into it

[2022-03-15 07:17] Mdhesari commented on #148
And I would like to contribute in Persian

[2022-04-04 19:30] BrianRuizy opened #266 "add checkbox to best-practice-questions tables"
would be nice to have checkmark cell in the best practice questions tables, but not sure how you would work localStorage with MDX?

[2022-04-04 19:31] BrianRuizy commented on #266
question seems to have been raised #124

[2022-04-04 19:31] #266 closed

[2022-04-10 05:01] Newcool1230 opened #267 "Recent deleted content"
Is there a reason why a few files were deleted in this commit  https://github.com/yangshun/tech-interview-handbook/commit/a6918b297b67ef000027d1e5c6284cd173259c21 ?

I found the old [Questions to Ask](https://github.com/yangshun/tech-interview-handbook/blob/7eccc0db179e5ca9cb8509fca8fd1a3d91617c37/contents/questions-to-ask.md) a lot more useful than the current [Final Question](https://www.techint

[2022-04-10 05:10] yangshun commented on #267
@gina-ng could you reply?

[2022-04-10 05:18] yangshun commented on #267
Thanks for the feedback! We are currently revamping the site contents and removing irrelevant stuff, but we could be wrong in some cases and removed stuff that was useful (as in your case). We will look at the stuff we removed as possibly add them back or post them as a separate blog post.

[2022-04-10 05:25] yangshun commented on #267
@Newcool1230. You can find the old [Questions to ask page here](https://tech-interview-handbook-qwkat42m8-yangshun.vercel.app/questions-to-ask/).

Btw do you mind giving us feedback on the new site vs the old site? What did you like about the old site? The old site can be found [here](https://tech-interview-handbook-qwkat42m8-yangshun.vercel.app/).

[2022-04-12 08:03] Newcool1230 commented on #267
Thank you, maybe the Questions to ask could be in Misc in revamp? I really like how the resume and the Salary and offer negotiation preparation sections were reorganized in the revamp.

Could the [Interview format at top companies](https://www.techinterviewhandbook.org/interview-formats-top-companies/) be linked somewhere in the sidebar for easy access?

For the [STAR format](https://www.techinter

[2022-04-21 02:20] BrianRuizy opened #270 "question"
I'm confused by the new _Study and Practice Plan_ format.

The **recommended questions** from weeks 1-4 are also found in the later weeks.
So should we not solve those recommended problems in those initial 4 weeks, and just read through the concepts?

<img width="1009" alt="Screen Shot 2022-04-20 at 9 24 06 PM" src="https://user-images.githubusercontent.com/23439187/164359089-b95c7846-5651-4974-97

[2022-04-21 02:26] BrianRuizy commented on #270
moved question to repo discussions

[2022-04-21 02:26] #270 closed

[2022-04-26 12:00] jsueiro commented on #148
I would be happy to contribute and translate it into spanish :)

[2022-04-26 14:21] haanguloo commented on #148
I will be also more than glad to help in the translation into Spanish!

[2022-04-29 09:15] yangshun commented on #267
Definitely, done!

Added it to misc section!

I haven't heard of CAR format. I think Context is just a combination of Situation and Task, so it's not too different. Being more granular here is good.

Agreed. Changed it back!

Thank you so much for your feedback @Newcool1230!

[2022-05-14 15:47] bhuynhdev opened #274 "Feature Request: Buttons for collapse all/expand all on the Grind75 site"
A **collapse all/expand all** buttons will really improve UX because on first load, every weekly problem group on Grind75 page is expanded, which makes it a little bit cumbersome to scroll down to Week 6+, and there are no easy ways to collapse all either.

Therefore, I believe having **collapse all/expand all** buttons along with **starting in Collapsed mode** would be better

I will be happy to

[2022-05-15 00:45] yangshun commented on #274
Hi @bhuynhdev, thanks for the good feedback. I made it such that completed groups will be collapsed by default, would that be better?

[2022-05-15 17:15] bhuynhdev commented on #274
Dear @yangshun 'completed groups will be collapsed by default" is definitely much better (can confirm on the live site).
I still believe that an expand all/collapse all is still very desirable:

- sometimes I want to know if I have done this problem before (for my own purposes or for showing my friend), or if a particular problem exists in this Grind 75 list. In such case, one thing I do is expand

[2022-05-16 09:11] yangshun commented on #274
@bhuynhdev That makes sense! Adding the feature is very easy, I'm just not sure where to add the button given the UI is beginning to get quite cluttered. Any suggestions? Maybe beside the "Hide topics" button

[2022-05-16 09:31] yangshun opened #275 "Grind 75 Feature Requests"
This is a master issue to keep track of the Grind 75 features people are asking for:

- [ ] Transfer progress between devices
- [ ] Time when a question was mark as completed
- [ ] #274
- [ ] Favoriting questions and having a page to display favorites

[2022-05-16 23:35] bhuynhdev commented on #274
I think they would make sense in the left toolbar. Some options are:
- Right under the sliders in Schedule
- Or maybe in a separate group called "Controls" below the "Topics" group

And the Expand All/Collapse all don't need to be displayed like buttons (with borders and color fill). I think they can still suffice even if they look just like links.

[2022-05-19 21:40] nanomosfet commented on #275
can we add simple auth from firebase or facebook so that if we switch computer or clear application memory we can still keep our progress?

https://firebase.google.com/docs/auth/web/firebaseui would be a pretty simple way to add this.

WDYT?

[2022-05-20 07:02] yangshun commented on #275
@nanomosfet Everything can be added, it's just how much engineering maintenance overhead using a database results in. The way TIH and Grind 75 are built is (almost) purely static pages, resulting in fast performance and low engineering maintenance.

I do see this to be useful when there are more users. How about this, when your comment gets 50 upvotes I'll look into implementing it.

[2022-05-26 03:50] Crabstove opened #277 "Typo on Queue page"
[In essential questions of Queue page](https://www.techinterviewhandbook.org/algorithms/queue/#essential-questions) it says Implement Stack using Queues, but it links to Implement Queue using Stacks problem. I got a little confused by it while studying, since in the next section of Recommended Practice Questions you have the correct link and label for Implement Queue using Stacks, but the previous

[2022-05-31 02:05] yangshun commented on #277
Thanks for reporting it. Fixed via f1b4cdc

[2022-05-31 02:05] #277 closed

[2022-06-11 19:23] Hesham-Salama opened #281 "Contact information - Address is not a must have"
If you are either in a different city, state or even country, in my opinion this weakens your chances a lot that most recruiters won't even continue checking your resume. It is better to remove the address all together or mention you would relocate if you already planned to.

[2022-06-11 21:13] yangshun commented on #264
Done!

[2022-06-11 21:13] #264 closed

[2022-06-11 21:18] Mark-Hezekiah commented on #264
That's really good. Thanks for the info.

[2022-06-12 22:40] avijit1258 commented on #275
Can we have a feature like export the list as CSV? I think that can be a temporary solution for @nanomosfet feature. People can download the csv and save it in google drive or whatever they like and keep track themselves.

[2022-06-13 01:07] nanomosfet commented on #275
`JSON.parse(localStorage.getItem('1:completedQuestions')).join(',')`

can get you the values of your completed questions as a CSV string

[2022-06-14 01:59] avijit1258 commented on #275
it only gives the array of completed problems. not much helpful IMO. what I am looking for a csv which will have the problems link with week, time, difficulty so that we can simply use the csv to keep track. If we can download the list by customizing weeks and hours per week parameter, then download the csv that would be a helpful feature.

[2022-06-14 15:27] nanomosfet commented on #275
if you copy the output of

`JSON.parse(localStorage.getItem('1:completedQuestions')).join(',')`

paste it into a file.
then on the blank machine do

`localStorage.setItem('1:completedQuestions','outputString'.split(','))`

you should be able to recover your progress.

but i think what you're asking is for a CSV of detailed info about the problems

[2022-06-26 02:47] thislookshard opened #284 "Content Request: Tips To Identify Routines Based on Problem"
Hello,

I was just wondering if there were any plans on adding the rest of the tips to identify routines on the Top Techniques page anytime soon? I know it will be added at a future date, but I wanted to know if there was a timeline on for it since Binary Search is filled out and this is something that some people can struggle with while under pressure.

[2022-06-26 02:53] yangshun commented on #284
Sure lemme work on that soon! Would you foresee it being added to any existing page or a new page?

[2022-06-26 03:19] thislookshard commented on #284
Awesome! I could see it going either way. It could expand upon that page or be built into a new page called something like "Identifying Data Structures and Algorithm Patterns in Questions."
It could list data structures and algorithms and what some key indicators in problems to use them would be. e.g.:

...

[2022-06-27 17:15] Nafly09 commented on #148
I can help translating to brazillian portuguese if anyone still needs it.

[2022-07-09 03:31] caramelmelmel commented on #275
Hi @yangshun I'm not very sure but I would like to suggest if it's possible to connect to people's leetcode accounts as most of the progress is saved there even upon completion. For timestamp, it might be better to just log the time that they submit on leetcode?  https://github.com/Ruin9999/leetcode-api might be a good example to show how we can connect via users leetcode username since each of th

[2022-07-09 18:39] Glen-Quagmire opened #287 "Tech interview"

[2022-07-09 18:40] #287 closed

[2022-07-11 04:21] abepark26 commented on #275
Hi @yangshun First of all, thank you for this awesome resource. This has been super helpful for my interview prep. I was looking through the repo to add the discussed feautres, but I could not find the Grind75 related files. Only thing that looked somewhat related was QuestionList.js in (/content/component) directory. Are files in a separate repo?

[2022-07-21 14:22] Shri333 opened #289 "Change difficulty of "Maximum Subarray""
Difficulty of the "Maximum Subarray" question on LeetCode has been updated to medium.

[2022-07-30 10:47] Sinha1994 opened #290 "Edit this page redirecting to 404"
Go to [https://www.frontendinterviewhandbook.com/coding/build-front-end-user-interfaces](https://www.frontendinterviewhandbook.com/coding/build-front-end-user-interfaces) scroll to the bottom, when clicking on [Edit this page](https://github.com/yangshun/front-end-interview-handbook/edit/master/contents/build-front-end-user-interfaces.md) it's redirecting to 404

<img width="772" alt="image" src="

[2022-07-30 11:15] yangshun commented on #290
Wrong repo?

[2022-07-30 11:16] #290 closed

[2022-07-30 11:17] yangshun commented on #290
Will fix in the other repo

[2022-08-03 17:16] Hesham-Salama commented on #289
I agree, I wondered if I'm stupid enough while attempting to solve it. Needs Kadane's algorithm.

[2022-08-03 17:32] Shri333 commented on #289
The top-voted solution on Leetcode really made sense for me. I could not grasp this question for a long time too. Think of it as a DP algorithm rather than some fancy greedy algorithm: the subproblem is the maximum sum of a subarray ending at some index i, so dp(i) = max(dp(i-1) + A[i], A[i]). Basically, if the previous sum is negative, you are better off just starting a "new" subarray. The max su

[2022-08-04 02:13] yangshun commented on #290
Fixed by https://github.com/yangshun/front-end-interview-handbook/pull/353, thanks to @PrinceSumberia

[2022-08-25 03:10] chenjianjx opened #296 "Let there be an anki deck"

[2022-08-25 13:07] chenjianjx commented on #296
I figured it out myself.
* I create a tool to generate a leetcode list: https://github.com/chenjianjx/leetcode-list-builder
* And with that list I can generate an ANKI deck.

[2022-08-25 13:07] #296 closed

[2022-08-27 02:25] jasdrive1 commented on #275
As a QOL request, would it be possible to add a timer to the page to say “you’re 9 days into your 4 weeks grind session”?

At some point, days just start to blend together and you can forget if you’re on day 10,11, or 12. Whereas if a timer was an option to be displayed on the page, that would make this easy to track.

The URL could change similar to how it does for custom Grind75 schedules, allow

[2022-09-11 02:18] yangshun commented on #289
Closed via f062cb5

[2022-09-11 02:18] #289 closed

[2022-09-12 20:24] abrielequdsi opened #298 "Change Difficulty of "Lowest Common Ancestor of a Binary Search Tree""
Question "235. Lowest Common Ancestor of a Binary Search Tree" has been updated to medium level.

[2022-09-23 16:03] iechodropz opened #300 "Not finished sentence"
In Writing your software engineer resume, under Test readability with industry-standard ATS. I see "Test the readability and formatting of your resume using." and it doesn't finish telling me using what.

[2022-09-29 11:42] peironggg opened #301 "Gather feedback on NEW resume review portal"
We are a group of 4 students from Singapore that is thinking of contributing a resume review portal to the handbook.

The portal will be an extension of Tech Interview Handbook (TIH). It will allow software engineers to get feedback on their resumes from the community. Users will upload their resume for review and voluntary reviewers can leave their comments on different sections of the resume.

B

[2022-09-29 14:57] xuan-nguyen-swe commented on #301
I guess the design only shows the original PDF on the left as it is, without parsing, right?
Is the section on the right (Education, Experience) hard code or dynamic?
Where is the database and file storage for the portal?

[2022-09-30 02:08] peironggg commented on #301
Yep, we will leave the resume as is so the reviewer can also see the style, font, etc of the original resume and provide feedback in those areas

We will leave those sections hardcoded for now but going into the future, we aim to make it dynamic. It will require some tinkering with PDF.js to get the sections right all the time since parsing PDFs can be a tricky affair.

We are using PostgreSQL to

[2022-09-30 06:42] tonghuikang commented on #301
The interface is minimal and neat. I am happy to see that the jobseeker does not need to manually fill up a bunch of forms before getting comments (unlike applying for jobs). If you want some technical depth in the implementation you can also consider designing some heuristics to decide which resumes to show in the front page and in what order.

Similar current solutions include posting on Reddit

[2022-10-02 08:50] peironggg commented on #301
Yep!

We plan to give them the flexibility to have more than 1 page since the standards may differ based on different locations they are applying to. It helps to accommodate our users who come from different parts of the world.

Yep! We can make it work with PDF.js

This a very good suggestion! Thank you :)

[2022-10-03 02:49] BryannYeap opened #303 "Technical Handbook Offers Repo"
Hi all 😄  We are a group of 4 Singaporean students working on a tech offers portal for the tech interview handbook platform project.

The portal will be an extension of the Tech Interview Handbook (TIH). It will allow job hunters in the tech industry (including SWEs, UI/UX designers, Project Managers, etc) to submit job offer(s), along with some background information. As such, the submitted offer

[2022-10-03 11:36] wlren opened #304 "[RFC] Community driven interview question bank"
Hello everyone! We are a group of Singaporean students looking to contribute to the Technical Interview Handbook platform by adding an interview question bank to provide **REAL** interview questions used by tech companies.

The question bank is an extension of the TIH platform and the questions will be contributed by the users themselves after their interviews. We hope to build a sizable pool of q

[2022-10-09 14:38] wuchuank commented on #304
Perhaps allow users to save a draft of a question instead of possibly having to rewrite the question.

I also think it would be quite important to make the text input as robust as possible, similar to Github or Reddit. Such as bolding, code blocks and even styling with markdown (perhaps a bit extra but would be nice)

Also maybe email updates that can be customized to be once a day or once a week

[2022-10-13 03:12] tonghuikang commented on #304
An interview is usually made up of many questions. Do you intend the contributor to break up the interview into multiple posts, and how do you encourage that?

How do you intend to maintain a set of canonical questions?

[2022-10-26 17:18] jiayi1129 commented on #304
Love the design of the website! In a way this reminds me of Stackoverflow for tech interview questions.

I think one thing that's missing is the date in which the question was posted. As someone who is searching for the technical questions, I would want to know what are the latest questions asked to prepare these specific questions. (And one step further, maybe when the last "I've received the sam

[2022-10-30 11:17] xuan-nguyen-swe commented on #304
For a behavioral question, the answers are depended on the situation of the interviewee.
What do you think if we could add sub-questions to differentiate contexts for the answers?

For example, Google asks "What was your most challenging project?"
* Context 1: you were in a project with 1M users => you have smt to answer the question directly.
* Context 2: you were never in a big project. Until no

[2022-11-08 18:40] ghost opened #545 "In the graph section under corner cases, handbook refers to "disjoint graphs" but I think it means "disconnected graphs""
https://www.techinterviewhandbook.org/algorithms/graph/#corner-cases

Most of the review materials I've looked at refer to disconnected graphs, examples:
https://www.geeksforgeeks.org/bfs-disconnected-graph/
https://algo.monster/problems/graph_intro (paid content)

Googling, disjoint typically refers to edges/paths, but not graphs.

[2022-11-15 08:35] UponTheSky opened #552 "Found a link leading to a wrong page"
I guess this is kind of a minor problem, so I just make this issue to let you know, without making a PR.

Currently, the [stack algorithm page](https://www.techinterviewhandbook.org/algorithms/stack/) has two different question links that lead to the same page of the leetcode question(I just copied them so that you could see what's happening):

- [Implement Queue using Stacks](https://leetcode.com

[2022-11-20 18:24] arnabpal2022 commented on #300
Can you provide the exact address of the resume? Can't Locate..

[2022-11-21 02:19] #552 closed

[2022-11-21 05:57] developerdenesh commented on #300
Seems like the line in question is: https://github.com/yangshun/tech-interview-handbook/blob/ce8f3c6346fafcf3db7b2d5fefb87f550236f8eb/apps/website/contents/resume.md#2-test-readability-with-industry-standard-ats

[2022-11-21 06:37] bwitt commented on #300
this one, right?  github makes it so hard to link to lines in md files!
https://github.com/yangshun/tech-interview-handbook/blob/ce8f3c6346fafcf3db7b2d5fefb87f550236f8eb/apps/website/contents/resume.md?plain=1#L336

[2022-11-21 10:01] arnabpal2022 commented on #300
#558 check this please.

[2022-11-21 15:09] #300 closed